@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }

  body {
    @apply bg-neutral-950 text-neutral-100;
  }
}

@layer components {
  .ProseMirror ul[data-type="taskList"] {
    list-style: none;
    padding-left: 0;
  }

  .ProseMirror ul[data-type="taskList"] li {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
  }

  .ProseMirror ul[data-type="taskList"] li > label {
    margin-top: 0.25rem;
  }
}
